html, body,p,ul,li{
	font-size: var(--font-base-size);
}

body{
	background-color: var(--background-color);
	background-image: var(--background-pattern);
	background-repeat: repeat;
	overflow-x:hidden;
}
a,  a:visited{
	color: var(--color-primary) !important;
}
a:hover{
	color: var(--color-secondary) !important;
}
.nav-menu>ul>li a::before {background-color: var(--color-primary)}

#warp{
    background: var(--background-pattern) center repeat fixed !important;
}
/* Navigation */
.site-header{
    background: #fff;
}

.core, .inner{
    max-width: 1500px;
    margin: 30px auto 0 auto;
    background: #fff;
}

.content-right div ul li, .content-right div ol li {
	font-size: var(--font-base-size);
}

.core{
	min-height: calc(100vh - 200px) !important;
    border: 1px solid #e6e6e6;
    padding: 30px;
    -webkit-box-shadow: 7px 10px 35px -13px var(--color-dark);
    -moz-box-shadow: 7px 10px 35px -13px var(--color-dark);
    box-shadow: 7px 10px 35px -13px var(--color-dark);
}

.content-left{display:none;}
.content-right{width:100%;}

#masthead .inner{
    margin: 0 auto !important;
}

.split-nav-right>.inner{
    align-items: center;
}

.content-right{
	margin: 0px !important;
}

a.chat-pop {
    background-color: var(--color-primary);
    color: var(--color-white) !important;
}

a.chat-pop:hover {
    color: var(--color-primary) !important;
    background-color: var(--color-white) !important;
}

.nav-menu > ul > li:last-child {
    margin-left:20px;
}

ul.page-list li, ol.page-list li {
    font-size: var(--font-base-size) !important;
    margin: 5px 0 5px 50px !important;
    padding: 0 !important;
    list-style-type: disc !important;
    line-height: 1.5em;
}

.site-header {
    padding: 0;
    box-shadow: 0 0px 5px 2px #999;
}

.header_banner img {
   height: 150px;
   padding: 10px 0;
   width: auto;
}

.content-left .menu ul li a {
	background: none !important;
	padding: 10px;
}
.content-left .menu h4 {
	padding:10px;
	background-color: var(--color-primary) !important;
	color: var(--color-white);
	font-weight: normal;
}

.main-navigation ul{
    margin-top:10px;
}
.main-navigation li ul {
    background: var(--color-primary);
    padding: 10px 0;
    -webkit-box-shadow: 7px 10px 35px -13px rgba(51,51,51,1);
    -moz-box-shadow: 7px 10px 35px -13px rgba(51,51,51,1);
    box-shadow: 7px 10px 35px -13px rgba(51,51,51,1);
}
.main-navigation li ul li a {
    background: var(--color-primary);
    min-width: 18rem;
    color: #fff;
}
.site-header li li .dropdown::after {
    margin: 5px 0 0 0;
}
.header_banner img {
    outline: none !important;
}

.fancybox-button--close{
	background: var(--color-danger) !important;
	color: var(--color-white) !important;
}

.tips-container{
	display:none;
}

.conference-note{
	padding: 10px;
	border: 2px solid var(--color-danger);
	color: var(--color-dark);
	margin-bottom:20px;
	display:flex;
	justify-content: flex-start;
	align-items: center;
}

.conference-note a{
	color: var(--color-primary);
	font-weight: bold;
	font-size: 1em;
}

.show-tips{
	position: fixed;
	top: 50%;
	left:0;
	padding:20px;
	background: var(--color-white);
	color:  var(--color-dark);
	font-weight: bold;
	letter-spacing: 1px;
	cursor:pointer;
	display:flex;
	align-items:center;
	border-right: 2px solid var(--color-danger);
	border-top: 2px solid var(--color-danger);
	border-bottom: 2px solid var(--color-danger);
}
.show-tips:hover{
	background: var(--color-light);
	color: var(--color-dark);
}


hr{margin: 20px 0 !important;}
div.scheduleTimeSlot div.title {
    padding: 0px 15px !important;
}
div.scheduleTimeSlot div.chevron {
    margin: 1.2em 20px !important;
}
.favorite {
    background-image: url(https://cdn.filestackcontent.com/XS0zSAMzTKuYTGO9wJIh?star_selected.svg);
}
.not-favorite {
    background-image: url(https://cdn.filestackcontent.com/dlpIonLVSBKuVnJ3SR5V?star.svg);
}
ul.scheduleDayList li.selected a {
    border: 1px solid var(--color-primary);
    border-bottom: none;
    color: var(--color-white);
}
ul.scheduleDayList a {
    border-radius:0px !important;
    letter-spacing: 1px;
}
ul.scheduleDayList li a:hover {
    background: var(--color-white);
    color: var(--color-primary) !important;
}
.bg-pad{
    background: var(--color-light);
    padding: 20px;
}
.vc-footer{
text-align:center;
padding: 15px 0;
margin-top: 40px;
background: var(--color-white);
color: var(--color-primary);
}
.main-navigation li ul li a {
    background: var(--color-primary);
    min-width: 18rem;
    color: var(--color-white) !important;
}
.main-navigation li ul li a:visited,  .main-navigation li ul li a:hover{
	color: var(--color-white) !important;
}

#warp .formBuilderFormBreadCrumb ul li a.selected{
	background-color: var(--color-white) !important;
}

#warp .formBuilderFormBreadCrumb ul li a.selected::after {
    border-color: transparent transparent transparent var(--color-white) !important;
}

#warp .formBuilderFormBreadCrumb ul li a.selected::before {
    border-color: transparent transparent transparent var(--color-white) !important;
}

:root {
    --plyr-video-control-background-hover: var(--color-primary);
    --plyr-color-main: var(--color-primary);
}

.creditCardSection > div div label {
    display: block !important;
}
.results-sort{
	display: none !important;
}


@media only screen and (min-width: 769px) {
    .nav-menu > ul > li a::before {
        background-color: var(--color-secondary);
    }
}

.gallery_info h4:nth-of-type(2) {
    display: none;
}

div.scheduleTimeSlot div.chevron {
    margin: 0 !important;
}

.text_value_search_box  .viewAllDayList {
	display:none;
}