
body, a, p, span, li, td, div, label, blockquote, input, textarea, select, h1, h2, h3, h4, h5, h6, button {
    font-size: 1rem !important;
}

/* Homepage */

.text-center{
	text-align:center !important;
}
.home-content-main{
	margin-bottom:20px;
}
.home-content-video{
	margin-bottom:20px;
}
.home-sponsors{
	margin-bottom:20px;
}
.home-content-main-text{
	padding:20px;
	background: var(--color-light);
}

/* Heading */

.heading-styled {
	padding: 10px !important;
	background: var(--color-primary) !important;
	color: var(--color-white) !important;
	text-align: center !important;
	font-weight: bold !important;
	margin: 20px 0 !important;
	letter-spacing: 1px !important;
}

h1{
	font-size: var(--h1-size) !important;
}

h2{
	font-size: var(--h2-size) !important;
}

h3{
	font-size: var(--h3-size) !important;
}

h4{
	font-size: var(--h4-size) !important;
}

h5{
	font-size: var(--h5-size) !important;
}

h6{
	font-size: var(--h6-size) !important;
}
